{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-10 offset-1">
      <h3><center><b>Testing the driving velocity of different roads</b></center></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-6 offset-3">
      <p>Instructions Instructions Instructions Instructions Instructions Instructions Instructions Instructions Instructions Instructions Instructions Instructions </p>
    </div>
  </div>
  <div class="row">
    <div class="col-4 offset-4">
      <form action="", method="post">
        <button class="btn btn-outline-info col-12" type="submit" name="begin"><h4>Begin</h4></button>
      </form>
    </div>
  </div>
</div>
{% endblock %}